@use "variables";

.about {
  max-width: variables.$max_width;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;

  &__container {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &__img {
      border-radius: 10px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
