@use "variables";
@use "mixin";
@use "_header";
@use "_about";
@use "_cast";
@use "_images";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variables.$backgroundColor;
}

img {
  border-radius: 10px;
}

.paragrapy,
.text {
  @include mixin.text;
  margin-bottom: 5px;
}

.paragrapy {
  width: 100%;
}

.bold {
  @include mixin.text;
  font-weight: 700;
}

.section-title {
  @include mixin.title;
  margin-bottom: 10px;
}
